.banner{
    /*
    background-image: url("../../assets/img/webp/banner-1.webp");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: rgb(220,0,88);
    background: linear-gradient(90deg, rgba(220,0,88,0.8463760504201681) 0%, rgba(220,0,88,1) 10%, rgba(220,0,88,0.835171568627451) 100%);
    box-sizing: border-box;
    //margin-top: 2rem;
    padding-top: 2rem;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        padding: 3rem 1rem;
        
        @include desktop{
            height: 31rem;
            align-items: flex-start;
            text-align: start;
        }
    }
    
    &__title, &__description{
        margin: 0;
        text-transform: uppercase;
    }
    
    &__title{
        font-size: 2rem;
        color: var(--third-text-color);

        @include desktop{
            font-size: 3rem;
        }
        &-span{
            color: var(--span-text-color);

            @include desktop{
                font-size: 3.438rem;
            }
        }
    }
    
    &__description{
        font-size: 1.2rem;
        color: var(--reverse-primary-text-color);
    }

    &__img{
        margin: 0 auto;
        padding: 1rem;

        &-hero{
            max-width: 250px;
            width: auto;

            @include desktop{
                max-width: 360px;
                width: auto;
            }
        }
    }
}

