.button{
    background-color: var(--primary-theme-color);
    border: 0.0625rem solid var(--primary-theme-color);
    border-radius: var(--primary-border-radius);
    color: var(--primary-text-color);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--primary-font-family);
    padding: 0.25em 1em;
    cursor: pointer;
    transition: box-shadow 0.25s, filter 0.25s;

    &:hover{
        box-shadow: 0 0 0.125rem 0.125rem var(--primary-theme-color);
        filter: brightness(1.125);
    }
    
    &--primary{
        background-color: var(--primary-highlight-color);
        border: 0.0625rem solid var(--primary-highlight-color);
        color: var(primary-text-color);

        &:hover{
            box-shadow: 0 0 0.25rem 0.125rem var(--primary-highlight-color);
        }
    }
    
    &--outline-primary{
        background-color: transparent;
        border: 0.0625rem solid var(--primary-highlight-color);

        &:hover{
            box-shadow: 0 0 0.25rem 0 var(--primary-highlight-color);
        }
    }
    
    &--outline-secondary{
        background-color: var(--secondary-button-color);
        border: 0.0625rem solid var(--secondary-button-color);
        color: var(--reverse-primary-text-color);

        &:hover{
            box-shadow: 0 0 0.25rem 0 var(--secondary-button-color);
        }
    }
    
}

