.card {
    box-shadow: 0 0 0.125rem var(--primary-shadow-color),
    0 0 0.25rem var(--primary-shadow-color);
    border-radius: var(--primary-border-radius);
    max-width: 360px;
    overflow: hidden;
    transition: box-shadow 0.25s;
    //transition: transform 0.25s;

    &__services {
      border: 0.0125rem solid var(--secondary-border-color);
    }
    
    &:hover {
      box-shadow: 0 0 0.25rem 0 var(--third-highlight-color);
      //transform: scale(1.125);
    }
    
    &__header,
    &__footer {
      //background-color: var(--reverse-primary-shadow-color);
      padding: 1rem;
    }
  
    &__img{
      display: flex;
      width: 100%;
      height: 200px;
      object-fit: cover;
      &-icon{
          width: 13rem;
          padding: 0rem 0rem;
          background-color: var(--primary-bg-color);
          color: var(--reverse-primary-text-color);
          border-radius: 50%;
          margin: 2rem auto;
        }
    }
    
      
    &__body {
      background-color: var(--reverse-secondary-shadow-color);
      padding: 1rem;

      &-services {
          color: var(--secondary-p-color);
          padding: 1.2rem;
        }
        
    }
      
    &__title {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      font-weight: 700;
    }
    
    &__subtitle {
      font-size: 1.25rem;
      text-align: center;
      margin: 0;
    }
    
    &__text {
      font-size: 1rem;
      text-align: center;
      margin: 0;
      
      &::before {
          content: '❤';
        }
        
        &::after {
          content: '❤';
      }

    }
      
  }

  .icon{
    animation: t-rotate 2.5s linear infinite;
  }