.footer{
    background-color: var(--primary-theme-color);
    box-sizing: border-box;
    padding: 1.5rem 0;

    &__description{
        color: var(--primary-text-color);
        font-size: var(--primary-text-font-size);
        text-align: center;
        margin: 0;
    }

    &__nav-list{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__nav-img{
      width: 2rem;
      height: 2rem;
      transition: transform 0.25s;

      &:hover{
        transform: scale(1.25);
      }

    }
}