.section{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);

    &__title{
        font-size: 1.5rem;
        text-shadow: 0 0 0.125rem var(--primary-highlight-color),
        0 0 0.25rem var(--primary-highlight-color);
        text-align: center;
        margin: 0;
      }

  }
   
  .container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container); 
  }
  
  .f-elements{
    display: flex;

    &--between{
        align-items: center;
        justify-content: space-between;
    }
      
    &--center{
        align-items: center;
        justify-content: center;
    }
    
    &--responsive{
        flex-direction: column;

        @include desktop{
          flex-direction: row;
        }
    }

  }
  
  
  
  .g-elements{
    display: grid;

    &--responsive{
        grid-template-columns: 100%;

        @include desktop{
          grid-template-columns: 1fr 1fr;
        }
    }

    &--center{
        align-items: center;
        justify-content: center;
        justify-items: center;
      }

  }
  
  .g-template-columns{
    @include desktop{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }