.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--header{
        position: fixed;
        top: 3.4rem;
        left: 0;
        width: 100%;
        height: calc(100% - 4rem);
        background-color: var(--secondary-theme-color);
        transform: translateX(var(--translate-list-header));
        transition: transform 0.25s;

        @include desktop{
            position: static;
            width: auto;
            height: auto;
            background-color: transparent;
        }
    }
    
    &__link {
        position: relative;
        color: var(--primary-text-color);
        font-weight: 700;
        text-decoration: none;
        transition: color 0.25s;
        font-size: var(--primary-text-font-size);

        &:hover {
            color: var(--secondary-highlight-color);
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.125rem;
            width: 0;
            height: 0.0625rem;
            background-color: var(--secondary-highlight-color);
            transition: width 0.25s;
        }
        
        &:hover::before{
            width: 100%;
        }

        @include desktop{
            font-size: var(--nav-primary-font-size);
        }

    }
}